@import 'mixins';
@import 'energy-bar';
@import 'menu';
@import 'score-box';
@import 'social-bar';
@import 'loading';
@import 'screen';
@import 'sequence';

* { margin: 0; padding: 0; }
body, html { width: 100%; height: 100%; }

body {
	background: black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
}
